.profile-menu {
  position: relative;
  display: inline-block;

}
.button-group-auth {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  margin-left: 1rem;
  position: relative;
}

.signup-form{
  right: 5%;
  top: 100%;
  width: 100%;
  text-align: left;
  position: absolute;
}
.signup-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 8px;
  z-index: 1000;

}

.signup-form input {
  padding: 0.25rem;
  border: 1px solid #ccc;
  z-index: 1000;
  color: #111;

}

