.user-info{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    color: #f0f0f0;
    padding: 2rem;
    font-size: 1.2rem;
    width: 100%;

}
.info-component{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
    
}

.user-info h3{
    font-size: 1.2rem;
    border-bottom: 2px solid #444;
     padding: 2rem 0;
    border: 2px solid #444;
    width: 85%;
    
}
.bug-list{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: start;
    width: 100%;
    padding-inline: 5rem;

}